<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.qsb.plugin.DeliciousBookmarks</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSAccountType</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.delicious.account</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Delicious</string>
			<key>HGSExtensionPoint</key>
			<string>HGSAccountTypesExtensionPoint</string>
			<key>HGSExtensionOfferDeliciousedAccountType</key>
			<string>com.google.qsb.delicious.account</string>
			<key>HGSExtensionOfferedAccountClass</key>
			<string>DeliciousAccount</string>
			<key>QSBSetUpAccountViewNibName</key>
			<string>SetUpDeliciousAccountView</string>
			<key>QSBSetUpAccountViewControllerClassName</key>
			<string>SetUpDeliciousAccountViewController</string>
			<key>QSBEditAccountWindowNibName</key>
			<string>EditDeliciousAccount</string>
			<key>QSBEditAccountWindowControllerClassName</key>
			<string>EditDeliciousAccountWindowController</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>DeliciousBookmarksSource</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Delicious Bookmarks</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<string>webpage.delicioustag</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.delicious.source</string>
			<key>HGSExtensionDesiredAccountType</key>
			<string>com.google.qsb.delicious.account</string>
			<key>HGSExtensionIsEnabledByDefault</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
