<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <!--
    Currently QSB does not support account types other than Google
    accounts - so we work around that for the time being.

    Change "your_username" and "your_password" below to the appropriate
    values for your Delicious account, then copy this file to
    "~/Library/Application Support/Google/Quick Search Box/DeliciousUserInfo.plist"
    -->
<dict>
	<key>username</key>
	<string>your_username</string>
	<key>password</key>
	<string>your_password</string>
</dict>
</plist>
